@font-face {
  font-family: 'Aeonik';
  src: local('Aeonik-Bold'), url('../assets/Aeonik/Aeonik-Bold.otf') format('otf');
  src: local('Aeonik-Regular'), url('../assets/Aeonik/Aeonik-Regular.otf') format('otf');
}

@font-face {
  font-family: 'HandoSoft';
  src: local('HandoSoft-Regular'), url('../assets/Hando\ Soft/HandoSoft-Regular.ttf') format('ttf');
  src: local('HandoSoft-Medium'), url('../assets/Hando\ Soft/HandoSoft-Medium.ttf') format('ttf');
}

.App {
    /*text-align: center;*/
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
      135deg,
      hsl(0deg 0% 100%) 0%,
      hsl(223deg 57% 98%) 13%,
      hsl(223deg 57% 96%) 27%,
      hsl(222deg 57% 94%) 40%,
      hsl(222deg 57% 92%) 52%,
      hsl(222deg 57% 90%) 64%,
      hsl(221deg 57% 87%) 75%,
      hsl(221deg 57% 85%) 85%,
      hsl(221deg 57% 83%) 93%,
      hsl(220deg 57% 81%) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  

  .Dashboard {
    width: 90%;
    height: 90%;
    border-radius: 30px;
    background-color: #FAFBFF;
    box-shadow: 0 10px 20px rgb(179, 197, 234, .75);

    //define a media query for a browser with minimum width of 280px * 5
    @media (min-width: calc(280px * 5)) {
    //define a custom property for .Dasboard
    .Dashboard {
       --repeat: 5; 
    }
   }
  }
  
  .react-flow-rectangle {
    width: 99.5%;
    height: 100%;
    background-color: #fff;
    border-radius: 30px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 10px 20px rgb(179, 197, 234, .75),
             inset 0px 0px 0px 0px rgba(145, 192, 255, 0.75),
             inset -4px -4px 8px 0px rgba(145, 193, 255, 0.30),
             inset 0px 10px 20px 0px rgb(255, 255, 255);
  }

  .container {
    margin-left: 3rem;
  }

  .analytics-header p {
      color: rgb(164, 162, 162);
      font-family: HandoSoft-Medium;
      font-size: 15px;
      margin-left: 0rem;
      margin-bottom: 0px;
  }

  .analytics-header h2 {
    margin-top: 0px;
    color: black;
    font-family: Aeonik-Bold;
    font-size: 20px;
    margin-left: 0rem;
  }

  .analytics-overview-header h2 {
    margin-top: 1.5rem;
    color: black;
    font-family: Aeonik-Bold;
    font-size: 20px;
    margin-left: 0rem;
  }

  .analytics-overview-header-graph h2 {
    margin-top: 1rem;
    color: black;
    font-family: Aeonik-Bold;
    font-size: 20px;
    margin-left: 0rem;
  }


  .analytics-tiles {
    height:42%;
    width: 102.4%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-top: 1rem;
    margin-left: -1.5rem;
    padding-left: 1.5rem;

    .tile {
      flex: 0 0 auto;
    }
  } 

  .analytics-tiles-graph {
    height:42%;
    width: 102.4%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-top: rem;
    margin-left: -1.5rem;
    padding-left: 1.5rem;

    .tile {
      flex: 0 0 auto;
    }
  } 

  .analytics-tiles::-webkit-scrollbar {
    display: none;
  }

  
  .react-flow__attribution {
    visibility: hidden;
}

.tabIcon {
  margin: 0 auto;
}
  /*
  .App-link {
    color: #61dafb;
  }
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
*/
